/*------------------------------------------------------------------------------
Molecule: Charts - Donut Chart
--------------------------------------------------------------------------------
1. Chart colors
2. Chart styles
------------------------------------------------------------------------------*/
@use "sass:list";
/*------------------------------------------------------------------------------
1. Chart colors
------------------------------------------------------------------------------*/
:root {
  --chart-blue-0: #002f5e;
  --chart-blue-1: #003f87;
  --chart-blue-2: #0060ab;
  --chart-blue-3: #007ac8;
  --chart-blue-4: #429ad2;
  --chart-blue-5: #7ab4da;
  --chart-blue-6: #afcee1;
  --chart-blue-7: #e3e7e9;
}
$chart-blues: (
#429ad2,
#003f87,
#7ab4da,
#0060ab,
#afcee1,
#007ac8,
#e3e7e9,
#002f5e
);
$chart-blues-images: (
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-1.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-2.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-3.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-4.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-5.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-6.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-7.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-8.png"),
);
$chart-light-blues: (
#006ebb,
#57b8f7,
#1681ca,
#7ecafa,
#2c93d9,
#b3d9f1,
#42a6e8,
#e3e7e9
);
$chart-light-blues-images: (
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-1.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-2.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-3.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-4.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-5.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-6.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-light-blue-7.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-blue-7.png"),
);
$chart-greens: (
#006b3f,
#c2dc2c,
#358a30,
#d3e570,
#6aa921,
#e4edb3,
#9fc812,
#f5f6f7
);
$chart-greens-images: (
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-1.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-2.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-3.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-4.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-5.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-6.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-7.png"),
url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/donut-green-8.png"),
);
/*------------------------------------------------------------------------------
2. Chart styles
------------------------------------------------------------------------------*/
wwu-donut-chart {
  wwu-chart-item {
    display: none;
  }
  ul {
    display: grid;
    place-items: center;
  };
  li {
    aspect-ratio: 1;
    clip-path: shape(
    from top,
    arc to calc(50% + 50% * sin(var(--pct) * 3.6deg))
    calc(50% - 50% * cos(var(--pct) * 3.6deg)) of 50% small cw,
    line to center);
    --pct: 25;
    --radius: 200px;

    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: calc(var(--radius) * 2);
    transform: rotate(var(--offset));
    transform-origin: center;
    background: var(--bg-color);
    &:hover {
      transform: scale(1.1) rotate(var(--offset));
    }
  }
}
