/*------------------------------------------------------------------------------
Molecule: Charts - Donut Chart
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
@use "sass:list";
@use "../../00-utilities/utilities" as *;
wwu-donut-chart {
  --radius: 200px;
  figure {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
    margin-bottom: var(--space--lg);
    padding: 0;
    column-gap: var(--space--xl);
  }
  figcaption {
    z-index: 1;
    display: grid;
    grid-column: 2/ span 1;
    grid-row: 1/ -1;
    place-content: center;
    aspect-ratio: 1;
    width: var(--radius);
    margin: 0;
    padding: 0;
    content: "";
    text-align: center;
    border-radius: 50%;
    background: var(--page-background);
  }
  wwu-chart-item {
    display: grid;
    grid-column: 1/ span 1;
    grid-template-columns: auto auto;
    justify-self: start;
    place-content: center;
    padding: var(--space--2xs) var(--space--xs);
    column-gap: var(--space--xs);
    cursor: pointer;
    transition: transform var(--transition-speed--fast) ease;
    &:before {
      aspect-ratio: 1;
      width: var(--space--xl);
      content: "";
      background: var(--bg-color);
      @media(forced-colors: active) {
        background-image: var(--bg-image);
      }
    }
    &:hover,
    &:active,
    &:focus,
    &:has(+ .slice:hover) {
      @include lightest-blue-bg;

      border-radius: var(--border-radius--round);
      outline: var(--outline--unset);
      &:before {
        outline: solid contrast-color(var(--bg-color)) var(--border-width--sm);
      }
      + .slice {
        transform: scale(1.12) rotate(var(--offset));
      }
    }
    + .slice {
      display: block;
      clip-path: shape(
      from top,
      arc to calc(50% + 50% * sin(var(--pct) * 3.6deg))
      calc(50% - 50% * cos(var(--pct) * 3.6deg)) of 50% small cw,
      line to center);
      grid-column: 2/ span 1;
      grid-row: 1/ -1;
      aspect-ratio: 1;
      width: calc(var(--radius) * 2);
      content: "";
      cursor: pointer;
      transition: transform var(--transition-speed--fast) ease;
      transform: rotate(var(--offset));
      transform-origin: center;
      background: var(--bg-color);
      @media(forced-colors: active) {
        background-image: var(--bg-image);
      }
      &:hover,
      &:active,
      &:focus {
        transform: scale(1.12) rotate(var(--offset));
      }
    }
  }
}
wwu-donut-chart {
  --chart-color-0: #002f5e;
  --chart-color-1: #003f87;
  --chart-color-2: #0060ab;
  --chart-color-3: #007ac8;
  --chart-color-4: #429ad2;
  --chart-color-5: #7ab4da;
  --chart-color-6: #afcee1;
  --chart-color-7: #e3e7e9;
  --chart-color-img-0: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-0.png");
  --chart-color-img-1: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-1.png");
  --chart-color-img-2: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-2.png");
  --chart-color-img-3: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-3.png");
  --chart-color-img-4: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-4.png");
  --chart-color-img-5: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-5.png");
  --chart-color-img-6: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-6.png");
  --chart-color-img-7: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue-7.png");
  &.light-blue {
    --chart-color-0: #006ebb;
    --chart-color-1: #1681ca;
    --chart-color-2: #2c93d9;
    --chart-color-3: #42a6e8;
    --chart-color-4: #57b8f7;
    --chart-color-5: #7ecafa;
    --chart-color-6: #b3d9f1;
    --chart-color-7: #e3e7e9;
    --chart-color-img-0: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-0.png");
    --chart-color-img-1: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-1.png");
    --chart-color-img-2: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-2.png");
    --chart-color-img-3: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-3.png");
    --chart-color-img-4: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-4.png");
    --chart-color-img-5: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-5.png");
    --chart-color-img-6: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-6.png");
    --chart-color-img-7: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-blue--lighter-7.png");
  }
  &.green {
    --chart-color-0: #006b3f;
    --chart-color-1: #358a30;
    --chart-color-2: #6aa921;
    --chart-color-3: #9fc812;
    --chart-color-4: #c2dc2c;
    --chart-color-5: #d3e570;
    --chart-color-6: #e4edb3;
    --chart-color-7: #f5f6f7;
    --chart-color-img-0: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-0.png");
    --chart-color-img-1: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-1.png");
    --chart-color-img-2: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-2.png");
    --chart-color-img-3: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-3.png");
    --chart-color-img-4: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-4.png");
    --chart-color-img-5: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-5.png");
    --chart-color-img-6: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-6.png");
    --chart-color-img-7: url("https://ashlar.blob.core.windows.net/ashlar-theme-files/images/charts/chart-green-7.png");
  }
}
